@font-face {
    font-family: myFont-SemiBold;
    src: url('assets/font/HKGrotesk-SemiBold.otf');
}

@font-face {
    font-family: myFont-Regular;
    src: url('assets/font/HKGrotesk-Regular.otf');
}

body {
    overflow-x: hidden;
}

* {
    font-family: myFont-SemiBold;
    color: #183B56;
}

.navbar {
    padding: 0;
    margin-bottom: 68px;
    min-height: 100px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-light {
    background: none !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000
}

.navbar-nav .nav-item {
    margin: 5px 15px;
    font-size: 105%;
}

.btn {
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}

.get-it-now {
    border: 2px solid;
}

.btn:focus {
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none;
}

.header .div {
    max-height: 370px;
}

.header h1 {
    font-size: 45px;
    margin: 35px 0 20px 0;
}

p,
label {
    color: #9CAAB6;
    font-size: .95em;
}


.sponsors .btn {
    width: fit-content;
    padding: 0;
}

.sponsors .btn img {
    width: 100%;
}

h1 {
    font-size: 35px;
    margin: 30px 0;
}

.process {
    flex-wrap: nowrap;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; */
}

.process .card {
    width: 100%;
    min-height: 300px;
}

.process .card-icon {
    width: 46px;
    height: 46px;
    border: 1px solid #F6F7F8;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {
    margin: 5rem 0;
}

.testimonials * {
    color: #FFFFFF;
}

.testimonials div {
    padding: 0;
}

.testimonials .card {
    background-color: #183B56;
    min-height: 350px;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
}


.testimonials .card .row div:not(.carousel-indicators) {
    position: relative;
}

.testimonials .img-border {
    background-image: url("assets/shapes/1.svg");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -5%);
    width: 270px;
    height: 400px;
    margin: 0;
}

.testimonials img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.testimonials .carousel-indicators {
    width: fit-content;
    height: fit-content;
    margin: 0;
    right: 5rem;
    left: auto;
    top: 5rem;
    bottom: auto;
}

.testimonials .carousel-indicators button {
    width: 6px;
    height: 6px;
    margin-right: 0 5px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 50%;
}

.testimonials .carousel-inner {
    z-index: 0;
}

.testimonials .card-body {
    padding: 5rem !important;
    padding-left: 0 !important;
    line-height: 2.2rem;
    min-height: 350px;
    max-height: 350px;
}

.testimonials .dash {
    margin: 0 10px;
}

.testimonials .subtitle {
    color: rgba(255, 255, 255, .8);
    font-size: 85%;
    font-family: myFont-Regular;
}

.testimonials p {
    font-size: 1.2rem;
    font-family: myFont-Regular;
}

.testimonials .carousel-btn {
    width: fit-content;
    margin: 0;
    bottom: -6%;
}

.testimonials .carousel-btn .btn * {
    color: #000000;
}

.testimonials .carousel-btn .btn {
    margin: 0 5px;
    padding: .5rem 1.2rem;
}

.integrations .btn-link i {
    color: #0a58ca;
    vertical-align: middle;
}

.integrations .logo {
    width: fit-content;
    margin: 20px 0;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 3px -2px;
}

.integrations img {
    width: 30px;
    height: 30px;
}

.plan-container {
    position: relative;
    background-color: #F8F9FA;
    width: calc(100vw - (100vw - 100%));
    height: fit-content;
    margin: 3rem 0;
}

.plan-container * {
    z-index: 1;
}

.plan-container .background-split {
    width: 100%;
    height: 5%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.plan-container .save-label {
    margin: 0;
    color: #FAAD13;
}

.plan-container input:focus {
    box-shadow: none;
}

.plan-container .form-switch .form-check-input {
    width: 2.7em;
    height: 1.7em;
    background-color: #FAAD13;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.plan-pricing .card {
    width: 80%;
    margin: auto;
    padding: 1rem 3rem;
    border: none;
}

.plan-pricing .btn-link {
    padding: 0;
}

.download-card {
    background-color: #eaf7f2;
    border: none;
    border-radius: 0;
    cursor: default;
}

.download-card .card-body p {
    min-height: 50px;
}

.download-card.active {
    background-color: #36b37e;
    transition: .5s ease;
}

.download-card.active *:not(.btn) {
    color: #FFFFFF;
}

.download-card.active p {
    opacity: .8;
}

.download svg * {
    fill: #5a7184;
}

.download-card.active svg * {
    fill: #FFFFFF;
}

.download .download-btn {
    background: transparent;
    color: #36b37e;
    border: 1px solid;
    border-radius: .8rem;
    padding: .8rem 3rem;
}

.download .download-btn:hover {
    background-color: #36b37e;
    color: #FFFFFF;
}

.download-card.active .download-btn,
.download-card.active .download-btn:hover {
    color: #183B56;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #212529 !important;
}

.subscribe .input-group .btn {
    background-color: #183b56;
    color: #FFFFFF;
}

.footer h5 {
    padding-bottom: 1rem;
}

.footer .quote {
    width: 90%;
}

.footer .social-media .btn {
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 2.8;
    transition: .5s ease;
}

.google:hover {
    background-color: #F4B400;
}

.twitter:hover {
    background-color: #00acee;
}

.instagram:hover {
    background-color: #E1306C;
}

.linkedin:hover {
    background-color: #0072b1;
}

.footer .social-media .btn:hover {
    transform: translateY(-5%)
}

.footer .social-media .btn svg {
    fill: #5c7589;
    width: 20px;
    height: 20px;
}

.footer .social-media .btn:hover svg {
    fill: #FFFFFF;
}

.footer .heart-icon {
    width: fit-content;
    background-color: #1576d8;
    padding: 10px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
    .navbar {
        min-height: 65px;
        margin-bottom: 25px;
    }

    .header *,
    .collab * {
        text-align: center;
    }

    .platforms .card {
        max-height: 300px;
    }

    .platforms img {
        max-height: 300px;
        width: 100%;
    }

    .testimonials {
        width: calc(100vw - (100vw - 100%));
    }

    .testimonials .card {
        width: 100%;
        border-radius: 0;
    }

    .testimonials .img-border {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 296px;
    }

    .integrations img {
        width: 20px;
        height: 20px;
    }

    .integrations .to-hide-md {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header img {
        width: 300px;
        height: 178px;
    }

    .collab img {
        width: 100%;
    }

    .card {
        min-height: 150px;
    }

    .sponsors .btn img {
        height: 60px;
    }

    .platforms .card {
        max-height: 800px;
    }

    .platforms img {
        max-height: 500px;
    }

    .testimonials .img-container {
        max-height: 200px;
    }

    .testimonials .img-border {
        top: -25%;
        transform: translate(-50%, 0%);
    }

    .testimonials .carousel-indicators {
        position: relative;
        margin: 20px auto;
        right: auto;
        top: auto;
    }

    .testimonials .card-body {
        text-align: center;
        padding-left: 5rem !important;
    }

    .testimonials .card-title *:not(.dash) {
        display: block;
    }

    .testimonials .dash {
        display: none;
    }

    .testimonials .carousel-btn {
        margin: 20px auto;
        bottom: auto;
    }

    .integrations .to-hide-md {
        display: block;
    }

    .plan-container .background-split {
        height: 10%;
    }

    .plan-price * {
        display: inline;
    }

    .plan-price {
        background-color: #F8F9FA;
        border-radius: 5px;
        padding: .5rem 1rem;
    }

    .plan-pricing h5 {
        width: fit-content;
    }

    .plan-pricing .btn:not(.btn-link) {
        width: 100%;
    }

    .subscribe .input-group .form-control,
    .subscribe .input-group .btn {
        width: 100%;
        border-radius: 0.5rem !important;
        margin: 0.3rem 0;
    }

    .subscribe .input-group .form-control {
        padding: 0.7rem;
    }

    .footer .quote {
        margin: auto;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 575px) {
    .header .row .btn {
        width: 100%;
    }

    .download-card {
        margin: auto 1rem;
    }
}